@import "tailwindcss";

@layer base {
    h1 {
        @apply text-2xl text-orange-300;
    }

    a {
        @apply px-6 py-3 rounded text-white bg-gray-600 inline-block;
    }
}

@layer components {
    /* .card {
        padding: 15px;
        border-radius: 5px;
        background-color: aquamarine;
        box-shadow: 10;
    } */

    .button {
        @apply px-4 py-2 rounded-xl text-white;
    }
}

@utility tail {
    color: #628141;
}